<% @page_title = 'Edit Donation' -%>
<div id="content" class="form-horizontal adDepotForm span10">
<h3><span id="edit_donation_header">Edit Donation</span></h3>
<div id="update_donation" ><span id='edit_donation'></span>
<%= form_for(@donation, :url => { :action => :update, :id => @donation }, :html => { :method => :put, :class => 'donation_form'}) do |f| %>
 
    <%= render(:partial => 'form', :locals => {:f => f, :object => @donation.donatable}) %>
    <div class="span10">
      <div class="form-actions inverse">
        <%= f.submit 'Save', :class => "btn btn-primary" %>  
        <%= link_to('Cancel', donations_path, :confirm => 'Are you sure you want to continue, the changes will be lost?', :class => "btn") %>
      </div>
    </div>
  
<% end %>
</div>
</div>
</div>
